<div class="container">
    <div class="span5">
        <div class="row">
            <div class="well">
                <label class="control-label" for="item">
                    <h1>Scan Item</h1>
                </label>
                <input type="text" id="item" placeholder="Item" class="input-xlarge">
            </div>
        </div>
    </div>
    <div class="span6 well">

        <div class="span1" style="float: left">
            <a href="#">
                <img src="../content/images/samsung-galaxy-s3.jpeg" alt="">
            </a>
            <div class="caption">
                <center><strong>Samsung Galaxy S3</strong></br>
                            <strong style="color:brown">Rs. 32500</strong></center>
            </div>
        </div>
        <div class="span4" style="float: left">
            <ul>
                <li>With a 4.8 inch HD Super AMOLED display, the GALAXY S III offers a large and vivid viewing experience. Samsung Mobile's heritage Super AMOLED display even enhances to HD and 16:9 wider viewing angles.</li>
                <li>With the innovative smart stay feature, Galaxy S III automatically recognises when you are looking at the phone, whether it is to read an e-book or browse the web. The front camera looks deep into your eyes and maintains a bright display for continued viewing pleasure</li>

            </ul>

        </div>



    </div>
</div>
